{% load static %}

<footer class="footer">
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h4><a href="#">ESSBEE <span style="color:red">Techstrategies</span></a></h4>
            <p class="new-line-span">CIN : U72900KL2021PTC068116</p>
            <p class="links"><a href="{% url 'essbeeapp:index' %}">Home</a><strong> · </strong><a href="contactUs">Contact Us</a><strong> · </strong><a href="privacy_policy">Privacy Policy</a><strong> · </strong><a href="news">Latest News</a><strong> · </strong>
            <a href="about">About Us</a><strong> . </strong> <a href="chat">Live Chat</a><strong> . </strong><a href="mission">Mission </a>
            <p class="company-name">WWW.ESSBEEINFOTECH.COM © 2021</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p><span class="new-line-span">NO.55/1631,PARAKOTTU TOWERS</span> ERNAKULAM,KERALA,INDIA-682020</p>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left"> +91 9633334389</p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="mailto:email@example.com" target="_blank">info@essbeeinfotech.com</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <h4>About the company</h4>
            <p>ESSBEE Infotech is one of the leading software company.</p>
            <div class="social-links social-icons">
                <a href="https://www.facebook.com/Essbee-Infotech-546155818802137"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/EssbeeInfotech?s=09"><i class="fa fa-twitter"></i></a>
                <a href="https://wa.me/message/RHUSMHHFYLDKD1"><i class="fa fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/essbeeinfotech"><i class="fa fa-instagram"></i></a>
                <a href="mailto:info@essbeeinfotech.com"><i class="fa fa-envelope-o"></i></a>
            </div>
        </div>
    </div>
</footer>

<div class="copyright">
    <div class="container">
        <div class="col-md-12 col-sm-12">
            <p>© 2021 - All Rights with <a href="https://www.essbeeinfotech.com">Essbee Infotech Pvt. Ltd.</a> | CIN : U72900KL2021PTC068116</p>
        </div>
    </div>
</div>