{% extends 'base1.html' %}
{% load static %}
{% block title %}LATEST NEWS{% endblock %}
{% block content %}
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="{% static 'css/service/service.css' %}">
</head>

<body>
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center">{{news.heading}}</h1>
                        <p class="text-center"><img class="img-fluid" src="{{news.img.url}}"></p></div>
                    <div class="text">
                        <p>{{news.desc}}.</p>
<!--                        <figure><img class="figure-img" src="{{results.img.url}}">-->
<!--                            <figcaption>Caption</figcaption>-->
<!--                        </figure>-->
                        <p>{{news.sub_heading}}.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</body>

{% endblock %}

