{% extends 'base1.html' %}
{% load static %}
{% block title %}SERVICES{% endblock %}
{% block content %}
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="{% static 'css/service/service.css' %}">
</head>

<body>
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center">{{results.name}}</h1>
<!--                        <p class="text-center"><span class="by">by</span> <a href="#">Author Name</a><span class="date">Sept 8th, 2018 </span></p>-->
                        <img class="img-fluid" src="{{results.img.url}}">
                        </div>
                    <div class="text">
                        <p>{{results.desc}}</p>
<!--                        <p>Sed lobortis mi. Suspendisse vel placerat ligula. <span style="text-decoration: underline;">Vivamus</span> ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in-->
<!--                            justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>-->
<!--                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus. <strong>Ut vehicula rhoncus</strong> elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit <em>pulvinar dict</em> vel in justo. Vestibulum-->
<!--                            ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>-->
<!--                        <h2>Aliquam In Arcu </h2>-->
<!--                        <p>Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices-->
<!--                            posuere cubilia Curae.</p>-->
<!--&lt;!&ndash;                        <figure><img class="figure-img" src="{{results.img.url}}">&ndash;&gt;-->
<!--&lt;!&ndash;                            <figcaption>Caption</figcaption>&ndash;&gt;-->
<!--&lt;!&ndash;                        </figure>&ndash;&gt;-->
<!--                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit-->
<!--                            pulvinar dictum vel in justo.</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</body>
{% endblock %}

<!--<div>-->
<!--        <div>-->
<!--            <p><a href="{% url 'essbeeapp:index' %}" >Home</a></p>-->
<!--        </div>-->
<!--        <div>-->
<!--            <br>-->

<!--            <div class="row"  >-->
<!--                <div class="col-md-4"   >-->
<!--                    <div class="thumbnail"   >-->
<!--                         <center>-->
<!--                    <img src="{{results.img.url}}" alt="{{results.name}}" class="img-rounded"   height="250px" width="250px" >-->
<!--                 </center>-->
<!--                    </div>-->
<!--            </div>-->
<!--    -->
<!--            </div>-->

<!--            <div>-->
<!--                <div>-->

<!--                    <h3>{{results.name}}</h3>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
